@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* Start box */
.page .content .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.box img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.box .team {
    width: 65px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
    border: 2px solid white;
}

.box .info span {
    padding: 3px 10px;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    z-index: 2;
}

.box .info::before {
    content: '';
    position: absolute;
    width: calc(100% + 40px);
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    background-color: #ddd;
}

/* End box */