/* Start wrapper */

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    flex: 1;
    height: fit-content;
}

.wrapper .box {
    padding: 10px 7px 0;
}

.wrapper .box i {
    font-size: 17px;
}

.wrapper .box img {
    width: 60px;
    transition: .3s;
}

.wrapper .box:hover img {
    transform: rotate(10deg);
}

.wrapper .box .size {
    border-top: 1px solid #eee;
}

/* End wrapper */

/* Start statistics */
.statistics {
    width: 260px;
    padding: 20px;
    margin-left: 20px;
    height: fit-content;
}

@media (max-width: 767px) {
    .statistics {
        margin-left: 10px;
    }
}

.statistics h2 {
    letter-spacing: -1px;
    font-size: 26px;
}

.statistics .box {
    border: 1px solid #eee;
    padding: 10px;
}

.statistics .box i {
    width: 55px;
}

.statistics .box .blue {
    background-color: rgb(0 117 255 / 20%);
}

.statistics .box .green {
    background-color: rgba(34, 155, 56, 0.2);
}

.statistics .box .red {
    background-color: rgb(255 10 10 /20%);
}

.statistics .box .orange {
    background-color: rgb(255 165 0 / 20%);
}

.statistics>a {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 7px 10px;
}

.statistics>a:hover>i {
    animation: up .7s infinite linear;
}

@keyframes up {
    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/* End statistics */